/* Basic elements */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #fcf3df;	
	color: #110d0d;
	font-family: Roboto, Helvetica;
	position: relative;
}

a,
a:visited {
	color: #1fa3bc;
	font-weight: 700;
}

h2 {
	font-size: 1.25em;
}

select {
	background: #eee;
}

dl, dt, dd {
	margin: 0;
}

dt {
	margin-top: 1em;
	font-weight: bold;
}

dd {
	margin-top: .25em;
}

/* LAYOUT */


.main {
	margin-bottom: 2em;
}

/* Convenience classes */
.fillContainer {
	max-width: 100%;
}

.lightbox-bg,
.lightbox-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.9);
	z-index: 1;
	display: none;
}
.lightbox-visible .lightbox-bg {
	display: block;
}
.lightbox-wrapper {
	z-index: 2;
	background: transparent;
}
.lightbox-visible .lightbox-wrapper {
	display: flex;
	align-items: center;
}
.lightbox-content {
	flex-grow: 1;
	text-align: center;
}
.lightbox-content img {
    max-width: 100%;
}
.lightbox-close {
	position: absolute;
	top: 1em;
	right: 1em;
	color: #fff;
	font-family: monospace;
	font-size: 24px;
	font-weight: bold;
	padding: 1em;
}
.lightbox-close:hover {
	cursor: pointer;
}


/* Mobile */
@media(max-width: 640px) {
	.wrapper,
	footer {
		width: 100%;
		max-width: 100%;
	}	

	.main section {
		width: 100%;
	}

	.navigation-menu {
		flex-wrap: wrap;
	}

	.wrapOnMobile {
		display: block;
	}
}